<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gala.farmsearchbackend.mapper.ProvinceMapper">

    <resultMap id="BaseResultMap" type="com.gala.farmsearchbackend.model.domain.Province">
            <id property="provId" column="prov_id" jdbcType="INTEGER"/>
            <result property="provName" column="prov_name" jdbcType="VARCHAR"/>
            <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        prov_id,prov_name,remarks
    </sql>

    <!-- 获取所有省份信息 -->
    <select id="listProvinceAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM province
        ORDER BY prov_id ASC
    </select>
</mapper>
